<%= form_for(Homeland::Reply.new, url: reply_topic_path(@topic.id)) do |f| %>
<%= f.hidden_field :reply_to_id %>

    <%= f.text_area :body, class: 'span8', rows: 5, placeholder: t('homeland.topics.type_reply') %>
    <button type="submit" class="btn btn-primary"><%= t('homeland.submit') %></button>

<% end %>
